*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
    font-family: sans-serif;
}

/*
oculta la barra o el scroll por defecto de la pagina
*/
::-webkit-scrollbar{
    width: 0;
}
/*bloque de codigo para el div flotante*/
.datos{
    position: absolute;
    overflow:visible;
    max-width: 20vh;
    max-height: 50vh;  
}
.datos1{
    position: relative;
    top: 70vh; right: 100vh; 
    width: 150vh;
    height: 15vh; 
    background-color: #ffffff;
    
}
.dat-emp{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.desc-ico{
    height: 50vh;
    display:flex ;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.desc-ico img{
    padding-left: 70px;
    padding-right: 3px;
    height: 25px;
    width: auto;
}
.desc-ico p{
    color: #7B889D;
}
.boton-enviar{
    width: 20%;
    justify-content: center;
    align-items: center;
}
.colum{
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.descri{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    height: 50vh;
    
}
.p1{
    color: #1F3E72;
    padding-left: 20px;
    padding-right: 10px;
}
.p2{
    color: #1F3E72;
    padding-left: 50px;
}
.p3{
    color: #1F3E72;
    padding-left: 80px;
}
/*
bloque de codigo para el header
*/
.cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 10vh;
    padding: 15px;
    
}
/*
bloque de codigo para el "logo" del header
*/
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo a{
    text-align: center;
    color: #3858D6;
    
}

/*
bloque de codigo para boton y texto del header
*/
.navegacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
input{
    margin-right: 1rem;
    width: 8rem;
    height: 3rem;
    background-color: #2A4AC8;
    color:aliceblue;
    border-radius: 5px;
    border-color: #2A4AC8;
}
a{    
    text-decoration: none;
    padding-right: 2rem;
}
h3{
    color: #7B889D;
}
 


/*
 seccion 1
 */
#container{
    display: flex;
    height: 90vh;
    
    
}
.img-sec{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.img1{
    width: auto;
    height: 100%;
}

.info{

    width: 80%;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    padding: 2rem;
}
.logros{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100vh;
    height: 3rem;
    padding: 5px;
}
.logros img{
    
    height: 25px;
    width: auto;  
}
.logros p{
    color: #2D4A7B;
}
.im1{
    padding-right: 10px;
}
.im2{
    padding-right: 10px;
    padding-left: 100px;
}

.info2{
    width: 80vh;
    padding-left: 80px;
}
.info2 h1{
    padding: 10px;
}
.datos{
    position: relative;

}
.info h1{
    
    color: #1F3E72;
}
.sub-sec{
    padding:10px;
}
/*
seccion 2
*/

#contenedor2{
    display: flex;
    height: 100vh;
    
}
.img-sec2{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.img2{
    width: auto;
    height: 100%;
}


