/*
responsive para tablets pequeñas
*/
@media (min-width:600px), screen and(max-width:709px){

    html{
        min-width: 100%;
        min-height: 100%;
    }
    body{
        min-width: 100%;
        min-height: 100%;
    }
    *{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 0;
        margin: 0;
        box-sizing: border-box;   
        font-family: sans-serif;
    }
    
        /*
    oculta la barra o el scroll por defecto de la pagina
    */
    ::-webkit-scrollbar{
        width: 0;
    }
    
    /*
    bloque de codigo para el header
    */
    .cabecera{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 10vh;
        width: 100%;
        padding: 15px;
        
    }
    /*
    bloque de codigo para el "logo" del header
    */
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo a{
        text-align: center;
        color: #3858D6;
        
    }
    
    /*
    bloque de codigo para boton y texto del header
    */
    .navegacion{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 12px;
    }
    
    .enviar{
        margin-right: 1rem;
        width: 6rem;
        height: 3rem;
        background-color: #2A4AC8;
        color:aliceblue;
        border-radius: 5px;
        border-color: #2A4AC8;
    }
    .bt1{
        margin-right: 1rem;
        width: 5rem;
        height: 2rem;
        background-color: #2A4AC8;
        color:aliceblue;
        border-radius: 5px;
        border-color: #2A4AC8;
    }
    
    a{    
        text-decoration: none;
        padding-right: 6px;
    }
    h3{
        color: #7B889D;
    }
        
    /*
     seccion 1
     */
    #container{
        display: flex;
        height: 90vh;   
    }
    /*bloque de codigo para el div flotante*/
    .datos{
        position: absolute;
        overflow:visible;
        max-width: 5vh;
        max-height: 20vh;
        position: relative;
    }
    
    .datos1{
        position: relative;
        top: 73vh; right: 70vh; 
        width: 130vh;
        height: 15vh; 
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2); 
    }
    .dat-emp{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .desc-ico{
        height: 50vh;
        display:flex ;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .desc-ico img{
        padding-left: 70px;
        padding-right: 3px;
        height: 15px;
        width: auto;
    }
    .desc-ico p{
        
        color: #7B889D;
    }
    .desc-ico p{
        font-size: 14px;
    }
    .boton-enviar{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .boton-enviar input{
        margin: 0;
    }
    .colum{
        width: 80%;
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    .descri{
        display: flex;
        justify-content: space-between ;
        align-items: center;
        height: 50vh;
        
    }
    .p1{
        color: #1F3E72;
        padding-left: 20px;
        padding-right: 10px;
    }
    .p2{
        color: #1F3E72;
        padding-left: 50px;
    }
    .p3{
        color: #1F3E72;
        padding-left: 80px;
    }
    .img-sec{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .img1{
        width: auto;
        height: 100%;
    }
    
    .info{
        top:5vh;
        overflow: hidden;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items:flex-start;
        flex-direction: column;
        padding: 2rem;
    }

    .logros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100vh;
        height: 3rem;
        padding: 5px;
    }
    #logros{
        display: flex;
        justify-content: flex-start;
        padding-top: 10px;
        align-items: center;
        width: 100%;
    }
    #logros img{
        padding-left: 0%;
        padding-right: 10px;
        height: 25px;
        width: auto;  
    }
    .logros p{
        color: #2D4A7B;
    }
   
    
    .info2{
        width: 80vh;
        padding-left: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        
    }
    .info2 h1{
        padding: 5px;
        font-size: 20px;

    }
    
    .info h1{
        
        color: #1F3E72;
    }
    .sub-sec{
        width: 300px;
        padding:10px;
        font-size: 15px;
    }
    /*
    seccion 2
    */
    
    #contenedor2{
        display: flex;
        height: 100vh;
        
    }
    .img-sec2{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .img2{
        width: auto;
        height: 100%;
    }


}



/*
responsive para tablets pequeñas
*/
@media (min-width:710px), screen and(max-width:901px){

    html{
        min-width: 100%;
        min-height: 100%;
    }
    body{
        min-width: 100%;
        min-height: 100%;
    }
    *{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 0;
        margin: 0;
        box-sizing: border-box;   
        font-family: sans-serif;
    }
    
        /*
    oculta la barra o el scroll por defecto de la pagina
    */
    ::-webkit-scrollbar{
        width: 0;
    }
    
    /*
    bloque de codigo para el header
    */
    .cabecera{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 10vh;
        width: 100%;
        padding: 15px;
        
    }
    /*
    bloque de codigo para el "logo" del header
    */
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo a{
        text-align: center;
        color: #3858D6;
        
    }
    
    /*
    bloque de codigo para boton y texto del header
    */
    .navegacion{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 15px;
    }
    
    .enviar{
        margin-right: 1rem;
        width: 6rem;
        height: 3rem;
        background-color: #2A4AC8;
        color:aliceblue;
        border-radius: 5px;
        border-color: #2A4AC8;
    }
    .bt1{
        margin-right: 1rem;
        width: 5rem;
        height: 2rem;
        background-color: #2A4AC8;
        color:aliceblue;
        border-radius: 5px;
        border-color: #2A4AC8;
    }
    
    a{    
        text-decoration: none;
        padding-right: 6px;
    }
    h3{
        color: #7B889D;
    }
        
    /*
     seccion 1
     */
    #container{
        display: flex;
        height: 90vh;   
    }
    /*bloque de codigo para el div flotante*/
    .datos{
        position: absolute;
        overflow:visible;
        max-width: 5vh;
        max-height: 20vh;
        position: relative;
    }
    
    .datos1{
        position: relative;
        top: 73vh; right: 70vh; 
        width: 130vh;
        height: 15vh; 
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2); 
    }
    .dat-emp{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .desc-ico{
        height: 50vh;
        display:flex ;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .desc-ico img{
        padding-left: 70px;
        padding-right: 3px;
        height: 15px;
        width: auto;
    }
    .desc-ico p{
        
        color: #7B889D;
    }
    .desc-ico p{
        font-size: 14px;
    }
    .boton-enviar{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .boton-enviar input{
        margin: 0;
    }
    .colum{
        width: 80%;
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    .descri{
        display: flex;
        justify-content: space-between ;
        align-items: center;
        height: 50vh;
        
    }
    .p1{
        color: #1F3E72;
        padding-left: 20px;
        padding-right: 10px;
    }
    .p2{
        color: #1F3E72;
        padding-left: 50px;
    }
    .p3{
        color: #1F3E72;
        padding-left: 80px;
    }
    .img-sec{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .img1{
        width: auto;
        height: 100%;
    }
    
    .info{
        top:5vh;
        overflow: hidden;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items:flex-start;
        flex-direction: column;
        padding: 2rem;
    }

    .logros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100vh;
        height: 3rem;
        padding: 5px;
    }
    #logros{
        display: flex;
        justify-content: flex-start;
        padding-top: 10px;
        align-items: center;
        width: 100%;
    }
    #logros img{
        padding-left: 0%;
        padding-right: 10px;
        height: 25px;
        width: auto;  
    }
    .logros p{
        color: #2D4A7B;
    }
   
    
    .info2{
        width: 80vh;
        padding-left: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        
    }
    .info2 h1{
        padding: 10px;
    }
    
    .info h1{
        
        color: #1F3E72;
    }
    .sub-sec{
        width: 300px;
        padding:10px;
    }
    /*
    seccion 2
    */
    
    #contenedor2{
        display: flex;
        height: 100vh;
        
    }
    .img-sec2{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .img2{
        width: auto;
        height: 100%;
    }


}





/*
responsive para tablets
*/
@media (min-width:902px), screen and(max-width:1023px){

    html{
        min-width: 100%;
        min-height: 100%;
    }
    body{
        min-width: 100%;
        min-height: 100%;
    }
    *{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 0;
        margin: 0;
        box-sizing: border-box;   
        font-family: sans-serif;
    }
    
        /*
    oculta la barra o el scroll por defecto de la pagina
    */
    ::-webkit-scrollbar{
        width: 0;
    }
    
    /*
    bloque de codigo para el header
    */
    .cabecera{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 10vh;
        width: 100%;
        padding: 15px;
        
    }
    /*
    bloque de codigo para el "logo" del header
    */
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo a{
        text-align: center;
        color: #3858D6;
        
    }
    
    /*
    bloque de codigo para boton y texto del header
    */
    .navegacion{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    input{
        margin-right: 1rem;
        width: 8rem;
        height: 3rem;
        background-color: #2A4AC8;
        color:aliceblue;
        border-radius: 5px;
        border-color: #2A4AC8;
    }
    a{    
        text-decoration: none;
        padding-right: 2rem;
    }
    h3{
        color: #7B889D;
    }
        
    /*
     seccion 1
     */
    #container{
        display: flex;
        height: 90vh;   
    }
    /*bloque de codigo para el div flotante*/
    .datos{
        position: absolute;
        overflow:visible;
        max-width: 5vh;
        max-height: 20vh;
        position: relative;
    }
    
    .datos1{
        position: relative;
        top: 70vh; right: 70vh; 
        width: 130vh;
        height: 15vh; 
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2); 
    }
    .dat-emp{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .desc-ico{
        height: 50vh;
        display:flex ;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .desc-ico img{
        padding-left: 70px;
        padding-right: 3px;
        height: 15px;
        width: auto;
    }
    .desc-ico p{
        color: #7B889D;
    }
    .boton-enviar{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .boton-enviar input{
        margin: 0;
    }
    .colum{
        width: 80%;
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    .descri{
        display: flex;
        justify-content: space-between ;
        align-items: center;
        height: 50vh;
        
    }
    .p1{
        color: #1F3E72;
        padding-left: 20px;
        padding-right: 10px;
    }
    .p2{
        color: #1F3E72;
        padding-left: 50px;
    }
    .p3{
        color: #1F3E72;
        padding-left: 80px;
    }
    .img-sec{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .img1{
        width: auto;
        height: 100%;
    }
    
    .info{
        overflow: hidden;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items:flex-start;
        flex-direction: column;
        padding: 2rem;
    }

    .logros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100vh;
        height: 3rem;
        padding: 5px;
    }
    #logros{
        display: flex;
        justify-content: flex-start;
        padding-top: 10px;
        align-items: center;
        width: 100%;
    }
    #logros img{
        padding-left: 0%;
        padding-right: 10px;
        height: 25px;
        width: auto;  
    }
    .logros p{
        color: #2D4A7B;
    }
   
    
    .info2{
        width: 80vh;
        padding-left: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .info2 h1{
        padding: 10px;
    }
    
    .info h1{
        
        color: #1F3E72;
    }
    .sub-sec{
        width: 300px;
        padding:10px;
    }
    /*
    seccion 2
    */
    
    #contenedor2{
        display: flex;
        height: 100vh;
        
    }
    .img-sec2{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .img2{
        width: auto;
        height: 100%;
    }


}





/*
responsive ordenadores y pantallas chicas
*/

@media (min-width:1024px), screen and(max-width:1098px){

    html{
        min-width: 100%;
        min-height: 100%;
    }
    body{
        min-width: 100%;
        min-height: 100%;
    }
    *{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 0;
        margin: 0;
        box-sizing: border-box;   
        font-family: sans-serif;
    }
    
        /*
    oculta la barra o el scroll por defecto de la pagina
    */
    ::-webkit-scrollbar{
        width: 0;
    }
    
    /*
    bloque de codigo para el header
    */
    .cabecera{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 10vh;
        width: 100%;
        padding: 15px;
        
    }
    /*
    bloque de codigo para el "logo" del header
    */
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo a{
        text-align: center;
        color: #3858D6;
        
    }
    
    /*
    bloque de codigo para boton y texto del header
    */
    .navegacion{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    input{
        margin-right: 1rem;
        width: 8rem;
        height: 3rem;
        background-color: #2A4AC8;
        color:aliceblue;
        border-radius: 5px;
        border-color: #2A4AC8;
    }
    a{    
        text-decoration: none;
        padding-right: 2rem;
    }
    h3{
        color: #7B889D;
    }
        
    /*
     seccion 1
     */
    #container{
        display: flex;
        height: 90vh;   
    }
    /*bloque de codigo para el div flotante*/
    .datos{
        position: absolute;
        overflow:visible;
        max-width: 5vh;
        max-height: 20vh;
        position: relative;
    }
    
    .datos1{
        position: relative;
        top: 70vh; right: 70vh; 
        width: 130vh;
        height: 15vh; 
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2); 
    }
    .dat-emp{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .desc-ico{
        height: 50vh;
        display:flex ;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .desc-ico img{
        padding-left: 70px;
        padding-right: 3px;
        height: 15px;
        width: auto;
    }
    .desc-ico p{
        color: #7B889D;
    }
    .boton-enviar{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .boton-enviar input{
        margin: 0;
    }
    .colum{
        width: 80%;
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    .descri{
        display: flex;
        justify-content: space-between ;
        align-items: center;
        height: 50vh;
        
    }
    .p1{
        color: #1F3E72;
        padding-left: 20px;
        padding-right: 10px;
    }
    .p2{
        color: #1F3E72;
        padding-left: 50px;
    }
    .p3{
        color: #1F3E72;
        padding-left: 80px;
    }
    .img-sec{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .img1{
        width: auto;
        height: 100%;
    }
    
    .info{
        overflow: hidden;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items:flex-start;
        flex-direction: column;
        padding: 2rem;
    }

    .logros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100vh;
        height: 3rem;
        padding: 5px;
    }
    #logros{
        display: flex;
        justify-content: flex-start;
        padding-top: 10px;
        align-items: center;
        width: 100%;
    }
    #logros img{
        padding-left: 0%;
        padding-right: 10px;
        height: 25px;
        width: auto;  
    }
    .logros p{
        color: #2D4A7B;
    }
   
    
    .info2{
        width: 80vh;
        padding-left: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .info2 h1{
        padding: 10px;
    }
    
    .info h1{
        
        color: #1F3E72;
    }
    .sub-sec{
        width: 300px;
        padding:10px;
    }
    /*
    seccion 2
    */
    
    #contenedor2{
        display: flex;
        height: 100vh;
        
    }
    .img-sec2{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .img2{
        width: auto;
        height: 100%;
    }


}

/*
responsive para pantallas medianas
*/

@media (min-width:1099px), screen and(max-width:1280px){

    html{
        min-width: 100%;
        min-height: 100%;
    }
    body{
        min-width: 100%;
        min-height: 100%;
    }
    *{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 0;
        margin: 0;
        box-sizing: border-box;   
        font-family: sans-serif;
    }
    
        /*
    oculta la barra o el scroll por defecto de la pagina
    */
    ::-webkit-scrollbar{
        width: 0;
    }
    
    /*
    bloque de codigo para el header
    */
    .cabecera{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 10vh;
        width: 100%;
        padding: 15px;
        
    }
    /*
    bloque de codigo para el "logo" del header
    */
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo a{
        text-align: center;
        color: #3858D6;
        
    }
    
    /*
    bloque de codigo para boton y texto del header
    */
    .navegacion{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    input{
        margin-right: 1rem;
        width: 8rem;
        height: 3rem;
        background-color: #2A4AC8;
        color:aliceblue;
        border-radius: 5px;
        border-color: #2A4AC8;
    }
    a{    
        text-decoration: none;
        padding-right: 2rem;
    }
    h3{
        color: #7B889D;
    }
     
    
    
    /*
     seccion 1
     */
    #container{
        display: flex;
        height: 90vh;   
    }
    /*bloque de codigo para el div flotante*/
    .datos{
        position: absolute;
        overflow:visible;
        max-width: 5vh;
        max-height: 20vh;
        position: relative;
    }
    
    .datos1{
        position: relative;
        top: 72vh; right: 60vh; 
        width: 130vh;
        height: 15vh; 
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2); 
    }
    .dat-emp{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .desc-ico{
        height: 50vh;
        display:flex ;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .desc-ico img{
        padding-left: 70px;
        padding-right: 3px;
        height: 25px;
        width: auto;
    }
    .desc-ico p{
        color: #7B889D;
    }
    .boton-enviar{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .boton-enviar input{
        margin: 0;
    }
    .colum{
        width: 80%;
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    .descri{
        display: flex;
        justify-content: space-between ;
        align-items: center;
        height: 50vh;
        
    }
    .p1{
        color: #1F3E72;
        padding-left: 20px;
        padding-right: 10px;
    }
    .p2{
        color: #1F3E72;
        padding-left: 50px;
    }
    .p3{
        color: #1F3E72;
        padding-left: 80px;
    }
    .img-sec{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .img1{
        width: auto;
        height: 100%;
    }
    
    .info{
        overflow: hidden;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items:flex-start;
        flex-direction: column;
        padding: 2rem;
    }

    .logros{
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100vh;
        height: 3rem;
        padding: 5px;
    }
    .logros img{
        
        height: 25px;
        width: auto;  
    }
    .logros p{
        color: #2D4A7B;
    }    
    .info2{
        width: 80vh;
        padding-left: 80px;
    }
    .info2 h1{
        padding: 10px;
    }
    
    .info h1{
        
        color: #1F3E72;
    }
    .sub-sec{
        width: 300px;
        padding:10px;
    }
    /*
    seccion 2
    */
    
    #contenedor2{
        display: flex;
        height: 100vh;
        
    }
    .img-sec2{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .img2{
        width: auto;
        height: 100%;
    }


}

/*
responsive ordenadores y pantallas grandes
*/

@media (min-width:1281px), screen and(max-width:1300px){

    html{
        min-width: 100%;
        min-height: 100%;
    }
    body{
        min-width: 100%;
        min-height: 100%;
    }
    *{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 0;
        margin: 0;
        box-sizing: border-box;   
        font-family: sans-serif;
    }
    
        /*
    oculta la barra o el scroll por defecto de la pagina
    */
    ::-webkit-scrollbar{
        width: 0;
    }
    
    /*
    bloque de codigo para el header
    */
    .cabecera{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 10vh;
        width: 100%;
        padding: 15px;
        
    }
    /*
    bloque de codigo para el "logo" del header
    */
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo a{
        text-align: center;
        color: #3858D6;
        
    }
    
    /*
    bloque de codigo para boton y texto del header
    */
    .navegacion{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    input{
        margin-right: 1rem;
        width: 8rem;
        height: 3rem;
        background-color: #2A4AC8;
        color:aliceblue;
        border-radius: 5px;
        border-color: #2A4AC8;
    }
    a{    
        text-decoration: none;
        padding-right: 2rem;
    }
    h3{
        color: #7B889D;
    }
     
    
    
    /*
     seccion 1
     */
    #container{
        display: flex;
        height: 90vh;
        
        
    }
    /*bloque de codigo para el div flotante*/
    .datos{
        position: absolute;
        overflow:visible;
        max-width: 5vh;
        max-height: 20vh;
        position: relative;
    }
    
    .datos1{
        position: relative;
        top: 70vh; right: 55vh; 
        width: 130vh;
        height: 15vh; 
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2); 
    }
    .dat-emp{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .desc-ico{
        height: 50vh;
        display:flex ;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
    .desc-ico img{
        padding-left: 70px;
        padding-right: 3px;
        height: 25px;
        width: auto;
    }
    .desc-ico p{
        color: #7B889D;
    }
    .boton-enviar{
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .colum{
        width: 80%;
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    .descri{
        display: flex;
        justify-content: space-between ;
        align-items: center;
        height: 50vh;
        
    }
    .p1{
        color: #1F3E72;
        padding-left: 20px;
        padding-right: 10px;
    }
    .p2{
        color: #1F3E72;
        padding-left: 50px;
    }
    .p3{
        color: #1F3E72;
        padding-left: 80px;
    }
    .img-sec{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .img1{
        width: auto;
        height: 100%;
    }
    
    .info{
        overflow: hidden;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items:flex-start;
        flex-direction: column;
        padding: 2rem;
    }

    .logros{
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100vh;
        height: 3rem;
        padding: 5px;
    }
    .logros img{
        
        height: 25px;
        width: auto;  
    }
    .logros p{
        color: #2D4A7B;
    }
    .im1{
        padding-right: 10px;
    }
    .im2{
        padding-right: 10px;
        padding-left: 100px;
    }
    
    .info2{
        width: 80vh;
        padding-left: 80px;
    }
    .info2 h1{
        padding: 10px;
    }
    
    .info h1{
        
        color: #1F3E72;
    }
    .sub-sec{
        width: 300px;
        padding:10px;
    }
    /*
    seccion 2
    */
    
    #contenedor2{
        display: flex;
        height: 100vh;
        
    }
    .img-sec2{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .img2{
        width: auto;
        height: 100%;
    }


}


@media (min-width:1301px), screen and(max-width:3000px){
    html{
        min-width: 100%;
        min-height: 100%;
    }
    body{
        min-width: 100%;
        min-height: 100%;
    }
    *{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 0;
        margin: 0;
        box-sizing: border-box;   
        font-family: sans-serif;
    }
    
        /*
    oculta la barra o el scroll por defecto de la pagina
    */
    ::-webkit-scrollbar{
        width: 0;
    }
    
    /*
    bloque de codigo para el header
    */
    .cabecera{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 10vh;
        width: 100%;
        padding: 15px;
        
    }
    /*
    bloque de codigo para el "logo" del header
    */
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo a{
        text-align: center;
        color: #3858D6;
        
    }
    
    /*
    bloque de codigo para boton y texto del header
    */
    .navegacion{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    input{
        margin-right: 1rem;
        width: 8rem;
        height: 3rem;
        background-color: #2A4AC8;
        color:aliceblue;
        border-radius: 5px;
        border-color: #2A4AC8;
    }
    a{    
        text-decoration: none;
        padding-right: 2rem;
    }
    h3{
        color: #7B889D;
    }
     
    
    
    /*
     seccion 1
     */
    #container{
        display: flex;
        height: 90vh;
        
        
    }
    /*bloque de codigo para el div flotante*/
    .datos{
        position: absolute;
        overflow:visible;
        max-width: 5vh;
        max-height: 20vh;
        position: relative;
    }
    
    .datos1{
        position: relative;
        top: 70vh; right: 65vh; 
        width: 130vh;
        height: 15vh; 
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2); 
    }
    .dat-emp{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .desc-ico{
        height: 50vh;
        display:flex ;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
    .desc-ico img{
        padding-left: 70px;
        padding-right: 3px;
        height: 25px;
        width: auto;
    }
    .desc-ico p{
        color: #7B889D;
    }
    .boton-enviar{
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .colum{
        width: 80%;
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    .descri{
        display: flex;
        justify-content: space-between ;
        align-items: center;
        height: 50vh;
        
    }
    .p1{
        color: #1F3E72;
        padding-left: 20px;
        padding-right: 10px;
    }
    .p2{
        color: #1F3E72;
        padding-left: 50px;
    }
    .p3{
        color: #1F3E72;
        padding-left: 80px;
    }
    .img-sec{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .img1{
        width: auto;
        height: 100%;
    }
    
    .info{
        overflow: hidden;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items:flex-start;
        flex-direction: column;
        padding: 2rem;
    }

    .logros{
        display: flex;
        justify-content:flex-start;
        align-items: center;
        width: 100%;
        height: 3rem;
        padding: 5px;
    }
    .logros img{
        
        height: 25px;
        width: auto;  
    }
    .logros p{
        color: #2D4A7B;
    }
    #logros{
        width: 100%;
        display: flex;
        justify-content:flex-start;
        align-items: center;
    }
    .im1{
        padding-right: 10px;
    }
    .im2{
        padding-right: 10px;
    }
    
    .info2{
        width: 80vh;
        padding-left: 80px;
    }
    .info2 h1{
        padding: 10px;
    }
    
    .info h1{
        
        color: #1F3E72;
    }
    .sub-sec{
        width: 300px;
        padding:10px;
    }
    /*
    seccion 2
    */
    
    #contenedor2{
        display: flex;
        height: 100vh;
        
    }
    .img-sec2{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .img2{
        width: auto;
        height: 100%;
    }


}
